/*Feel free to change any colors you want so they match our palette. Anything I picked here was mainly just for my own eye. - Noah*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #106eb6;
}

.body-div {
    color: white;
    padding: 10px;
}

.sign-up-btn {
    color: black;
    background-color: #B5C9C3;
    padding: 5px;
    border-radius: 25%;
}

.sign-up-btn:hover {
    color: black;
    background-color: #9ba9a5;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}

.nav-bar-component {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
}

.nav-bar-component a:hover {
    color: rgb(209, 209, 209);
}

.nav-bar-component h1, .logo {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.restaurant-carousel {
    display: flex;
    margin: 25px auto 0;
    padding: 10px;
}

.restaurant {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0 auto;
    min-width: 200px;
    min-height: 250px;
    border: solid 2px #124770;
    padding: 10px;
}

.restaurant p {
    margin-bottom: 50px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    top: -10%;
    right: 48%;
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.login-and-register {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s 0.7s ease-in-out;
}

form.login {
    z-index: 2;
}

form.register {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: white;
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    padding: 0 .4rem;
    align-items: center;
}

.form-button {
    color: white;
    background-color: cornflowerblue;
    border-radius: 55px solid black;
    padding: 5px;
}

.form-button.transparent {
    margin: 0;
    background: none;
    border: 2px solid white;
    width: 130x;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.form-button:hover {
    background-color: rgb(72, 112, 187);
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content {
    color: white;
    transition: .9s .6s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.panel p {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.right-panel .content {
    transform: translateX(800px);
}

.details-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}

.details-page h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/*Animation*/

.container.register-mode:before {
    translate: (100%, -50%);
    right: 52%;
}

.container.register-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.register-mode .right-panel .content {
    transform: translateX(0px);
}

.container.register-mode .left-panel {
    pointer-events: none;
}

.container.register-mode .right-panel {
    pointer-events: all;
}

.container.register-mode .login-and-register {
    left: 25%;
}

.container.register-mode form.login {
    z-index: 1;
    opacity: 0;
}

.container.register-mode form.register {
    z-index: 2;
    opacity: 1;
}